.custom-search-bar {
    background-color: #f0f4ff; /* Change background color */
    border-radius: 8px;        /* Rounded corners */
    padding: 10px;             /* Add padding */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Add shadow */
    width: 50%;
  }
  
  .custom-search-bar .MuiInputBase-root {
    color: #161a2d;            /* Change text color */
    width: 50%;
  }
  
  .custom-search-bar .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #4f52ba;     /* Change border color */
  }
  
  .custom-search-bar .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #161a2d;     /* Change border color when focused */
  }
  
  .custom-search-bar .MuiInputLabel-root {
    color: #4f52ba;            /* Change label color */
    width: 50%;
  }
  
  .custom-search-bar .MuiInputLabel-root.Mui-focused {
    color: #161a2d;            /* Change label color when focused */
  }

  .searchbar .MuiInputBase-root{
    color: green;
    width: 25%;
  }